@charset "UTF-8";
/*
 * メディアクエリ用mixin
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  width: min(90%, 900px);
  height: 500px;
  background: #0bd;
  margin: 0 auto;
}
.container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 60em) {
  .container {
    background: teal;
    color: #fff;
  }
}